.xheader {
  padding: 10px 0px 10px 0px;
  overflow: hidden;
  text-align: center;
}

.xbody {
  padding: 3% 10% 3% 10%;
  width: 85%;
  /* margin: 7% 0% 0% 0%; */
  border-radius: 5%;
  background: white;
  /* background-image: url("bg.png"); */
  background-size: cover;
}

.xFooter {
  font-size: medium !important;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
}

.angularicon {
  width: 50px;
  height: 50px;
  animation: leftIn 1.6s ease-in-out forwards;
    animation-delay: 0.2s;
}

.htmlicon {
  width: 35px;
  height: 50px;
  animation: leftIn 1.6s ease-in-out forwards;
    animation-delay: 0.3s;
}

.aspicon {
  width: 50px;
  height: 50px;
  animation: leftIn 1.6s ease-in-out forwards;
    animation-delay: 0.4s;
}

.sqlicon {
  width: 40px;
  height: 35px;
  margin-top: 10px;
  animation: leftIn 1.6s ease-in-out forwards;
    animation-delay: 0.5s;
}



.eficon {
  width: 50px;
  height: 50px;
  animation: leftIn 1.6s ease-in-out forwards;
    animation-delay: 0.6s;
}



.csicon {
  width: 45px;
  height: 40px;
  margin-top: 5px;
  animation: leftIn 1.6s ease-in-out forwards;
    animation-delay: 0.7s;
}

@keyframes rightIn {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes leftIn {
    from {
        transform: translateX(2000px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Responsive */

@media only screen and (max-width: 390px) {
  .xbody {
    text-align: unset !important;
    /* background: red; */

  }

  .xFooter {
    font-size: small !important;
  }


}

@media only screen and (min-width: 390px) {
  .xbody {
    text-align: unset !important;
    /* background: green; */

  }

  .xFooter {
    font-size: small !important;
  }



}

@media only screen and (min-width: 576px) {
  .xbody {
    text-align: unset !important;
    /* background: blue; */

  }

  .xFooter {
    font-size: medium !important;
  }


}

@media only screen and (min-width: 768px) {
  .xbody {
    text-align: center !important;
    /* background: yellow; */

  }

  .xFooter {
    font-size: medium !important;
  }



}

@media only screen and (min-width: 992px) {
  .xbody {
    text-align: center !important;
    /* background: purple; */

  }

  .xFooter {
    font-size: medium !important;
  }



}

@media only screen and (min-width: 1200px) {
  .xbody {
    text-align: center !important;
    /* background: fuchsia; */

  }

  .xFooter {
    font-size: medium !important;
  }


}

@media only screen and (min-width: 1400px) {
  .xbody {
    text-align: unset !important;
    /* background: white; */
  }

  .xFooter {
    font-size: medium !important;
  }


}