.xheader {
  /* padding: 10px 0px 10px 0px; */
  text-align: center;
}

.xFooter {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
}